<h4 class="admin"><%= link_to 'admin', new_product_path %></h4>

<div class="jumbotron">
  <h1>Speciality Coffee Co.</h1>
  <p>Speciality Coffee Company exists to satisfy all your covfefe and caffeination needs.</p>
  <p>Explore our site to learn about our products or add a review!</p>
</div>

<div class="row">
  <div class="col-sm-4" class="sub-header">
    <h3>New Coffees</h3>
    <ul>
      <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %><br></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-4" class="sub-header">
    <h3>Local Coffee</h3>
    <ul>
      <% @localProducts.each do |product| %>
      <li><%= link_to product.name, product_path(product)%><br></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-4" class="sub-header">
    <h3>Most Reviewed Coffee</h3>
    <ul>
      <% @reviews.each do |review| %>
      <li><%= link_to review.name, product_path(review)%><br></li>
      <% end %>
    </ul>
  </div>
</div>

<hr>
<h3><%= link_to "all coffees", product_all_path(:product_id) %></h3>
