<h1 class="product-name"><%= @product.name %></h1>
<hr>
<div class="row">
  <div class="col-sm-6">
    <h3>Origin: <%= @product.origin %></h3>
    <p>Tasting Notes: <%= @product.notes %></p>
    <p><em>$<%= @product.cost %></em></p>


    <%= link_to "edit coffee", edit_product_path %><br>
    <p><%= link_to "delete coffee", product_path(@product),
    :data => {:confirm => "Remove coffee from product list?",
      :method => "delete"} %></p>
  </div>
  <div class="col-sm-6">

  </div>

</div>

<% if @product.reviews.any? %>
  <h4>Reviews</h4>
  <ul>
    <% @product.reviews.each do |review| %>
      <li class="review-list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5><%= review.author %> -
           rating: <%= review.rating %>/5</h5>
          </div>
          <div class="panel-body">
            <%= review.content_body %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <h4><%= link_to 'new review', new_product_review_path(@product) %></h4>

<% else %>
  <p>Be the first to review this coffee!</p>
  <%= link_to 'add review', new_product_review_path(@product) %>
<% end %>
<div class="links">
  <h5><%= link_to "all coffees", product_all_path(:id) %></h5>
  <h5><%= link_to "home", products_path %></h5>  
</div>
